.custom-outline-success {
  color: #28a745;
  border: 1px solid #28a745;
  padding: 5px;
  display: inline-block;
}

.fade-alert {
  transition: opacity 1s ease-in-out;
}

.fade-alert.show {
  opacity: 1;
}

