.my-produce-list {
  color: #28a745;
  box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 1);
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  white-space: nowrap;
}

.custom-outline-danger {
  color: #dc3545;
  border: 1px solid #dc3545;
  padding: 5px;
  display: inline-block;
}

.contact-list-item {
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  border: #28a745 solid 1px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 0.5rem;
  font-weight: bold;
  padding: 1.5rem;
}

.contact-list-item::before {
  content: attr(data-action);
  display: none;
}

.contact-list-item:hover {
  box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 1);
}

.contact-list-name {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: auto;
  cursor: pointer;
}

.input-group input.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 1);
}

.post-filtering,
.post-search {
  display: flex;
  justify-content: center;
}

.post-display {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 1rem;
}

.blog-page {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 1rem;
  row-gap: 2rem;
}

.blog-content {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.dropzone {
  border: 2px dashed #aaaaaa;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.dropzone p {
  margin: 0;
}

@media (max-width: 767px) {
  .post-display,
  .blog-page {
    grid-template-columns: 100%; /* Display only one column on smaller screens */
  }
}

.post-card {
  box-shadow: 2px 1px 2px 2px #28a745;
  border-radius: 20px;
  padding: 0.5rem;
  margin-top: 1rem;
}

.box-border {
  box-shadow: 2px 1px 2px 2px #28a745;
  border-radius: 20px;
}

.blog-border {
  box-shadow: 2px 1px 2px 2px #28a745;
  border-radius: 20px;
}

.fade-alert {
  transition: opacity 1s ease-in-out;
}

.fade-alert.show {
  opacity: 1;
}

.user-card {
  width: 90%;
  height: auto;
  box-shadow: 2px 1px 2px 2px #28a745;
  border-radius: 20px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.messenger-panel {
  min-height: 40vw;
  box-shadow: 2px 1px 2px 2px #28a745;
  border-radius: 20px;
  padding: 0.5rem;
}

.message-container {
  min-height: 40vw;
  box-shadow: 2px 1px 2px 2px #28a745;
  border-radius: 20px;
}

#message-input {
  border-color: #28a745;
  border-radius: 20px;
  padding: 1rem;
  height: 6rem;
  margin-right: 0.2rem;
}

#message-button {
  height: 100px;
  width: auto;
  border-radius: 20px;
}

.comment-card {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 2rem;
  padding: 2rem;
}

.comment-input-card {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 2rem;
  padding: 1rem;
}

#comment-input {
  border: none;
  padding: 1rem;
  margin-right: 1rem;
  
}

#comment-button {
  font-weight: bold;
  border-radius: 20px;
}

.input-group input.comment-form-control:focus {
  outline: none;
  border: none;
}

.comment-form-control {
  flex: 1;
  width: 100%;
}

.reply-input {
border: 1px solid;
border-radius: 25px;
}
