.my-produce-list {
  color: #28a745;
  box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 1);
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  white-space: nowrap;
}

.custom-outline-danger {
  color: #dc3545;
  border: 1px solid #dc3545;
  padding: 5px;
  display: inline-block;
}

.contact-list-item {
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  border: #28a745 solid 1px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1rem;
  font-weight: bold;
  padding: 1.5rem;
  cursor: pointer;
}

.contact-list-item:focus {
  outline: 5px solid #28a745;
  outline-color: #28a745;
}

.contact-list-item::before {
  content: attr(data-action);
  display: none;
}

.contact-list-item:hover {
  box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 1);
}

.contact-list-name {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: auto;
  cursor: pointer;
}

.input-group input.form-control:focus {
  box-shadow: 0 0 0 0.1rem #28a745;
}

.post-filtering,
.post-search {
  display: flex;
  justify-content: center;
}

.post-display {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 1rem;
}

.blog-page {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 1rem;
  row-gap: 2rem;
}

.blog-content {
  
  border-radius: 25px;
  
  padding: 1rem;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 40vw;
}

.dropzone {
  border: 2px dashed #aaaaaa;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.dropzone p {
  margin: 0;
}

@media (max-width: 767px) {
  .post-display,
  .blog-page {
    grid-template-columns: 100%; /* Display only one column on smaller screens */
  }
}

.post-card {
  box-shadow: 2px 1px 2px 2px #28a745;
  border-radius: 20px;
  padding: 0.5rem;
  margin-top: 1rem;
}

.box-border {
  box-shadow: 2px 1px 2px 2px #28a745;
  border-radius: 20px;
}

.blog-border {
  box-shadow: 2px 1px 2px 2px #28a745;
  border-radius: 20px;
}

.fade-alert {
  transition: opacity 1s ease-in-out;
}

.fade-alert.show {
  opacity: 1;
}

.user-card {
  width: 90%;
  height: auto;
  box-shadow: 2px 1px 2px 2px #ccc;
  border-radius: 20px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.messenger-panel {
  min-height: 40vw;
  box-shadow: 2px 1px 2px 2px #ccc;
  border-radius: 20px;
  padding: 0.5rem;
}

.message-container {
  min-height: 30vw;
  box-shadow: 2px 1px 2px 2px #ccc;
  border-radius: 20px;
}

#message-input {
  border-color: #ccc;
  border-radius: 20px;
  padding: 1rem;
  height: 6rem;
  margin-right: 0.2rem;
}

#message-button {
  height: 100px;
  width: auto;
  border-radius: 20px;
}

.comment-card {
  border-radius: 20px;
  background-color: #f0f0f0;
  margin-bottom: 2rem;
  padding: 2rem;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-input-card {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 2rem;
  padding: 1rem;
}

#comment-input {
  border: none;
  padding: 1rem;
  margin-right: 1rem;
}

#comment-button {
  font-weight: bold;
  border-radius: 20px;
}

.input-group input.comment-form-control:focus {
  outline: none;
  border: none;
}

.comment-form-control {
  flex: 1;
  width: 100%;
}

.reply-input {
  border: 1px solid;
  border-radius: 25px;
}

.activity-card {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px 0 #ccc;
  border-radius: 25px;
  width: 95%;
}

.activity-card img {
  max-height: 250px;
}

/**---------------- REACT DATE PICKER ----------------**/

.date-picker {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0 0 10px 0 #ccc;
  text-align: center;
  cursor: pointer;
}

.react-datepicker__header {
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  padding: 1rem !important;
  box-shadow: 0 0 10px 0 #ccc !important;
  font-size: 12px;
}

.react-datepicker__current-month {
  font-size: 16px !important;
}

.react-datepicker__month-container {
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  box-shadow: 0 0 10px 0 #ccc !important;
}

.react-datepicker__day {
  font-size: 14px;
}

.react-datepicker__day--selected {
  background-color: #aaaaaa !important;
  font-weight: bold !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #aaaaaa !important;
  font-weight: bold !important;
}

.react-datepicker__month-container::after::before {
  box-sizing: content-box !important;
}

.react-datepicker__close-icon::after {
  padding: 0.3rem !important;
  content: "X" !important;
  background-color: #aaaaaa !important;
}

/**---------------- REACT DATE PICKER ----------------**/

.search-bar {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0 0 10px 0 #ccc;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.input-group-text {
  box-shadow: 0 0 10px 0 #ccc;
  background-color: white;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
}

.item-card-container {
  grid-column: 1 / span 2;
}

.status-container {
  grid-column: 1 / span 3;
}
